@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: default;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.box {
    width: 100%;
    max-width: 520px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.box>.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 15px;
    border-bottom: 1px solid #dadde1;
}

.box>.header>.pageTitle {
    font-size: 20px;
    font-weight: 700;
}

.box>.header>.projectTitle {
    font-size: 22px;
    font-weight: 800;
    color: #1877f2;
}

.box>.body {
    width: 100%;
    padding: 15px 12px 0;
}

.box>.body .line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.box>.body .line:not(:first-child) {
    margin-top: 12px;
}

.box>.body .line input {
    width: 100%;
    border: 1px solid #ccd0d5;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    cursor: text;
}

.box>.body .line input::placeholder {
    font-weight: 500;
}

.box>.body .line input.w50 {
    width: 100%;
}

.box .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0;
}

.box>.footer button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    padding: 6px 18px;
    color: white;
    background-color: #00a400;
    letter-spacing: 1px;
}

.errorText {
    width: 100%;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    background-color: #be4b49;
    color: white;
    padding: 6px 12px;
}

.successText {
    width: 100%;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    background-color: #00a400;
    color: white;
    padding: 6px 12px;
}

.list {
    width: 100%;
    margin: 12px 0 0;
}

.list .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: start;
    padding: 0 12px;
}

.list .item:nth-child(even) {
    padding: 8px 12px;
    background-color: aliceblue;
}

.list .item:not(:nth-child(1)) {
    margin-top: 12px;
}

.list .item .section {
    width: auto;
}

.list .item .section div {
    width: 100%;
}

.list .item .section div.fullName {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

.list .item .section div.username {
    margin-top: 6px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.list .item .section div.email {
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}

.list .item .section div.phone {
    margin-top: 6px;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
}


.list .item .section div.edit {
    text-align: left;
    font-size: 14px;
    margin-top: 12px;
    color: #8a8d91;
    font-weight: 600;
}

.list .item .section div.delete {
    text-align: right;
    font-size: 14px;
    margin-top: 12px;
    color: #8a8d91;
    font-weight: 600;
}

.list .item .section div.edit a:hover,
.list .item .section div.delete a:hover {
    text-decoration: underline;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding: 15px 15px 20px;
}

.menu .item {
    font-weight: 600;
    font-size: 14px;
    color: #8a8d91;
}

.menu .item:hover {
    text-decoration: underline;
}

.menu .item.active {
    color: #3b3c3e;
}


.deleteConfirm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 12px 16px;
}

.deleteConfirm .title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.deleteConfirm .description {
    width: 100%;
    padding: 12px 18px;
    background-color: #e7e9ed;
    border-radius: 6px;
}

.deleteConfirm .description .line {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
}

.deleteConfirm .description .line label {
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
}

.deleteConfirm .description .line span {
    font-weight: 500;
    font-size: 16px;
    font-style: bold;
}

.deleteConfirm .action {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
}

.deleteConfirm .action a {
    font-size: 14px;
    padding: 6px 0;
}

.deleteConfirm .action a:nth-child(1) {
    font-weight: 500;
}

.deleteConfirm .action a:nth-child(1):hover {
    text-decoration: underline;
}

.deleteConfirm .action a:nth-last-child(1) {
    padding: 6px 12px;
    border-radius: 12px;
    color: white;
    background-color: #be4b49;
}